---
header: false
footer: false
title: "Internet Archive Book Reader"
---

<style>
.CoreLayout-mainWrapperContainer, .CoreLayout-mainwrapper {
    margin: 0;
    padding: 0;
}
</style>
<div id="BookReader">
    Internet Archive BookReader Demo<br/>
    <noscript>
    <p>
        The BookReader requires JavaScript to be enabled.</a>.
    </p>
    </noscript>
</div>