---
header: false
footer: false
title: "CPL Digital Gallery"
---

<style>
#viewer {
    width: 100%;
    height: 100%;
    position: fixed;
}
.CoreLayout-mainWrapperContainer, .CoreLayout-mainwrapper {
    margin: 0;
    padding: 0;
}
</style>
<div id="viewer"></div>